<%- include('./common/header', {title: 'Create Table'}); -%>

<div class="container col-sm-12 col-md-12 col-lg-12 col-xl-10 vertical-gap">
    <a href="profile" class="btn btn-default"><h4><span class="fa fa-reply"></span> Profile</h4> </a>

    <div class="container" style="text-align:center">
        <h1 id="title-text"> Create Table</h1>
        <br>
        <div id="grid"></div>
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://unpkg.com/canvas-datagrid"></script>
<script src="/js/createTable.js"></script>
