<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Income Reporting (MOHLTC)</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <!--<link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">-->
    <link rel="stylesheet" href="/custom.css"> <!-- custom css -->
</head>
<body class="indexbody">

<div class="jumbotron text-center col-sm-10 col-sm-offset-1">
    <h1><span class="fa fa-cloud"></span> New Data Project </h1>
    <h2 style="font-size: calc(13px + (20-10) * (100vw - 300px)/ (2400-300))"> New Data Project</h2>

    <p style=" font-size: calc(11px + (18-10) * (100vw - 300px)/ (2400-300));">Login or Register to make or view your
        Reports:</p>

    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Existing Users: Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> New Users: Signup</a>


</div>
</body>
</html>
