<!-- views/index.ejs -->
<%- include('./common/header', {title: 'Income Reporting (MOHLTC)'}); -%>


<div class="container-fluid jumbotron text-center">
    <h1><span class="fa fa-cloud"></span> New Data Project </h1>
    <h2 style="font-size: calc(13px + (20 - 10) * (100vw - 300px)/ (2400 - 300))"> New Data Project</h2>

    <p style=" font-size: calc(11px + (18 - 10) * (100vw - 300px)/ (2400 - 300));">Login or Register to make or view your
        Reports:</p>

    <br>
    <a href="/login" class="btn btn-outline-primary"><span class="fa fa-user"></span> Existing Users: Login</a>
    <a href="/signup" class="btn btn-outline-primary"><span class="fa fa-user"></span> New Users: Signup</a>

</div>

<%- include('./common/footer'); -%>