<%- include('./common/header', {title: 'Log In'}); -%>

<div class="container col-sm-8 col-md-6 col-lg-5 col-xl-4 vertical-gap">
    <div class="loginBox">
        <h1><span class="fa fa-sign-in"></span>Login</h1>
    </div>
    <div class="box">

        <br/>
        <!-- LOGIN FORM -->
        <form>
            <div class="form-group">
                <label class="loginlabel">Username:</label>
                <input type="text" class="form-control" id="username">
            </div>
            <div class="form-group">
                <label class="loginlabel">Password:</label>
                <input type="password" class="form-control" id="password">
            </div>

            <button type="button" class="btn btn-primary" onclick="login()">Login</button>
        </form>

        <hr>

        <p>Need an account? <a href="/signup">Signup</a></p>
        <p>Forgot your password? <a href="/enter-your-email">Reset Password</a></p>
        <p>Or go <a href="/">home</a>.</p>

    </div>
    <!--Message Modal-->
    <div id="msg-modal" tabindex="-1" class="modal fade" role="dialog" aria-labelledby="msg-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="/javascriptsheet/login.js"></script>

<%- include('./common/footer'); -%>
