<%- include('./common/header', {title: 'Log In'}); -%>

<div class="container col-sm-8 col-md-6 col-lg-5 col-xl-4 vertical-gap">
    <div class="loginBox">
        <h1><span class="fa fa-sign-in"></span>Login</h1>
    </div>
    <div class="box">

        <br/>
        <!-- LOGIN FORM -->
        <form id="loginForm">

            <div class="form-group">
                <br/>
                <label for="loginMethodSelect">Login to:</label>
                <select class="form-control" id="loginMethodSelect">
                    <option value="local" selected>Local Server</option>
                    <option value="ldap">LDAP Server</option>
                </select>
            </div>

            <div class="form-group">
                <label class="loginlabel">Username:</label>
                <input type="text" class="form-control" name="username" value="lester">
            </div>
            <div class="form-group">
                <label class="loginlabel">Password:</label>
                <input type="password" class="form-control" name="password" value="lester">
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>

        <hr>

        <p>Need an account? <a href="/signup">Signup</a></p>
        <p>Forgot your password? <a href="/enter-your-email">Reset Password</a></p>
        <p>Or go <a href="/">home</a>.</p>

    </div>
    <!--Message Modal-->
    <%- include('./common/messageModal'); -%>
</div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="/dist/login.js"></script>

<%- include('./common/footer'); -%>
