<!doctype html>
<html lang = "en">
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <meta charset = "UTF-8">
    <title>PASSWORD-HAS-BEEN-RESET</title>
<head>
  <body>
    <div id = "topblock" class = "jumbotron text-center">
    <h1><span class="fa fa-cloud"></span> Your password has been reset! <span class="fa fa-cloud"></span> </h1>
    <br>
    <br>
    <br>
    <p id = textInstruction> Please click on the link below to login with your new password </p>
    <br>
    <br>
    <br>
    <a href = "/login" id = "link"> Login with your new password </a>
  </div>
  </body>
