<%- include('./common/header', {title: 'Register Success Submit'}); -%>
<br>
<div class="container">
    <h1>Your register request has been successfully submitted! Please wait for the response from your manager</h1>
</div>
<%- include('./common/footer'); -%>