<!DOCTYPE html>
<html lang = "en">
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <meta chatset = "UTF-8">
    <title> Password-Reset  </title>
</head>
<body>
  <div id= "passwordreset" class = "jumbotron text-center">
<h1 style = "text-align: center";> <span class="fa fa-cloud"></span>  Reset your password  <span class="fa fa-cloud"></span>  </h1>
<br>
<p id = "instructions"> Your password will be reset shortly. <br> Please enter the new password you wish to use to login and confirm the password in the subsequent boxes.  </p>
<br>
<br>
<br>

  <form method="post">

      <label for "firstpassword" id = "password"> <b>New Password:</b> </label>
      <input type = "password"  name = "password1" id = "inputpassword" required = "required" class = "enterpassword">
      <br>
      <br>
      <label for "secondpassword" id = "password"><b> Confirm New Password:</b></label>
      <input type = "password"  name = "password2" id = "confirminputpassword" required = "required" class = "enterpassword" oninput = "check(this)">
      <script language = 'javascript' type = 'text/javascript'>
      function check(input)
      {
        if(input.value != document.getElementById('inputpassword').value)
        {
          input.setCustomValidity('Password Must Match');
        }
        else
        {
          input.setCustomValidity('');
        }
      }
      </script>
      <br>
      <br>
      <br>
    <input type = "submit" class = "btn btn-info" value = "Submit" id = "submitButton">
    </form>
    </div>
</body>



</html>
