<%- include('./common/header', {title: 'Set up'}); -%>


<div class="container col-sm-8 col-md-6 col-lg-5 col-xl-4 vertical-gap">
    <h2> <i class="fas fa-cog"></i> Set up your application!</h2>
    <p>Please set up an admin account.</p>

    <div class="box">
        <form id="signupForm">

            <div class="form-group">
                <label for="usernameInput">Admin Username:</label>
                <input type="text" class="form-control" id="usernameInput" name="username">
            </div>

            <div id='password' class="form-group">
                <label for="passwordInput">Admin Password: </label>
                <input type="password" name="password" class="form-control" id="passwordInput">
            </div>

            <div class="form-group">
                <label class="signuplabel" for="contactEmail">Email: </label>
                <input type="email" id="email" name="email" class="form-control singupinput"/>
            </div>
            <button type="submit" class="btn btn-primary">Next</button>
        </form>

    </div>
    <!--Message Modal-->
    <%- include('./common/messageModal'); -%>
</div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="/dist/setup.js"></script>
<%- include('./common/footer'); -%>
