<%- include('./common/header', {title: 'Sign Up'}); -%>

<div class="container col-sm-8 col-md-6 col-lg-5 col-xl-4 vertical-gap">

    <div class="loginBox">
        <h1><span class="fa fa-sign-in"></span>Sign Up </h1>
    </div>
    <div class="box">
        <form id="signupForm" action="/api/signup" method="post">
            <div class="form-group">
                <br/>
                <label class="signuplabel" for="userName">
                Username:
                </label>
                <input type="text" class="form-control singupinput" id="username" name="username">
            </div>
            <div class="form-group">
                <label class="signuplabel">Password:</label>
                <input type="password" id="password" class="form-control singupinput" name="password">

            </div>
            <div class="form-group">
                <label class="signuplabel">Re-enter password:</label>
                <input type="password" id="confirm_password" class="form-control singupinput" name="confirm_password"
                       required="required" oninput="check(this)">
                <script language='javascript' type='text/javascript'>
                    function check(input) {
                        console.log("saysomethingplease!");
                        if (input.value !== document.getElementById('password').value) {
                            input.setCustomValidity('Password Must Match');
                        }
                        else {
                            input.setCustomValidity('');
                        }
                    }
                </script>
            </div>
            <fieldset>
                <label class="signuplabel" for="firstName">First Name: </label>
                <input type="text" id="firstName" name="firstName" placeholder="John" class="form-control singupinput"/>
                <br/>
                <label class="signuplabel" for="lastName">Last Name: </label>
                <input type="text" id="lastName" name="lastName" placeholder="Smith" class="form-control singupinput"/>
                <br/>
            </fieldset>
            <div class="form-group">
                <label class="signuplabel" for="contactEmail">Email: </label>
                <input type="email" id="email" name="email" placeholder="lester.lyu@ontario.com"
                       class="form-control singupinput"/>
                <br/>
                <label class="signuplabel" for="contactPhone">Phone Number: </label>
                <input type="number" id="phoneNumber" name="phoneNumber" placeholder="2269799881"
                       class="form-control singupinput"/>
            </div>
            <div class="form-group">
                <label class="signuplabel" for="groupNumber">User Group Number: </label>
                <input type="number" id="groupNumber" name="groupNumber" placeholder="1"
                       class="form-control singupinput"/>
            </div>

            <button type="submit" class="btn btn-primary">Next</button>
            <br/>
            <hr/>
            <p style="margin-left: 2%;">Already have an account? <a href="/login">Login</a></p>
            <p style="margin-left: 2%;">Or go <a href="/">home</a>.</p>

        </form>

    </div>
    <!--Message Modal-->
    <%- include('./common/messageModal'); -%>
</div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="/dist/signup.js"></script>

<%- include('./common/footer'); -%>