<%- include('./common/header', {title: 'Sign Up'}); -%>

<div class="container col-sm-8 col-md-6 col-lg-5 col-xl-4 vertical-gap">

    <div class="loginBox">
        <h1><span class="fa fa-sign-in"></span>Sign Up </h1>
    </div>
    <div class="box">
        <form id="signupForm">

            <div class="form-group">
                <br/>
                <label for="signUpMethodSelect">Sign up to:</label>
                <select class="form-control" id="signUpMethodSelect">
                    <option value="local" selected>Local Server</option>
                    <option value="ldap">LDAP Server</option>
                </select>
            </div>

            <div class="form-group">
                <label for="usernameInput">Username:</label>
                <input type="text" class="form-control" id="usernameInput" name="username">
            </div>

            <div id='password' class="form-group">
                <label for="passwordInput">Password: </label>
                <input type="password" name="password" class="form-control" id="passwordInput">
            </div>

            <fieldset>
                <label class="signuplabel" for="firstName">First name: </label>
                <input type="text" id="firstName" name="firstName" class="form-control singupinput"/>
                <br/>
                <label class="signuplabel" for="lastName">Last name: </label>
                <input type="text" id="lastName" name="lastName" class="form-control singupinput"/>
                <br/>
            </fieldset>

            <div id="organization" class="form-group row hide">
                <label class="col-sm-11" for="OrganizationDropDown"> Choose your organization: </label>
                <select class="selectpicker col-sm-12" data-live-search="true" data-style="btn-outline-primary" data-actions-box="true"
                        data-header="Select organization" id="OrganizationDropDown" name="organization">
                </select>

            </div>
            <div id="role" class="form-group row hide">
                <label class="col-sm-11" for="role"> Choose your role: </label>

                <Select class="selectpicker col-sm-12" data-live-search="true" data-style="btn-outline-primary" data-actions-box="true"
                        data-header="Select role" id="RoleDropDown" name="role">
                    <option value="user">User (have access to fill workbook)</option>
                    <option value="workbookAdmin">Administrator (have access to manage workbook templates)</option>
                    <option value="manager">Manager (have access to user management)</option>
                </Select>

            </div>

            <div class="form-group">
                <label class="signuplabel" for="contactEmail">Email: </label>
                <input type="email" id="email" name="email" class="form-control singupinput"/>
                <br/>
                <label class="signuplabel" for="contactPhone">Phone number: </label>
                <input type="number" id="phoneNumber" name="phoneNumber" placeholder="2269799881"
                       class="form-control singupinput"/>
            </div>
            <div class="form-group">
                <label class="signuplabel" for="groupNumber">Organization number (Group Number): </label>
                <input type="number" id="groupNumber" name="groupNumber" value="1"
                       class="form-control singupinput"/>
            </div>

            <button type="submit" class="btn btn-primary">Next</button>
            <br/>
            <hr/>
            <p style="margin-left: 2%;">Already have an account? <a href="/login">Login</a></p>
            <p style="margin-left: 2%;">Or go <a href="/">home</a>.</p>

        </form>

    </div>
    <!--Message Modal-->
    <%- include('./common/messageModal'); -%>
</div>

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">


<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<%- include('./common/dashboardFooter', {js: [
'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js',
'/dist/signup.js',
]}); -%>
