<%- include('./common/header', {title: 'Log In'}); -%>


<div class="container-fluid jumbotron text-center">
    <h1><span class="fa fa-cloud"></span> Validate your account!</h1>

    <p>We have sent a link to your contact email with your validation token. Please click (or have your contact
        click) the link within the next ten minutes. </p>

</div>


<%- include('./common/footer'); -%>