<%- include('./common/header', {title: 'Log In'}); -%>


<div class="container-fluid jumbotron text-center">
    <h1><span class="fa fa-cloud"></span> Validate your account!</h1>

    <p>We have sent a link to your contact email with your validation token. Please click (or have your contact
        click) the link within the next ten minutes. </p>

    <div class="container align-items-center text-center" id="save-row">
        <div class="col-auto p-1">
            <button id="resend" class="btn btn-primary"> Resend Email </button>
        </div>
        <div class="col-auto">
            <div id="status"></div>
        </div>
    </div>

</div>

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="/moh.js/toBeValidated.js"></script>
<%- include('./common/footer'); -%>