<!doctype html>
<html>
<head>
    <title>Waiting for Validation...</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-cloud"></span> Validate your account!</h1>
        <h2> Validate your account! </h2>

        <p>We have sent a link to your contact email with your validation token. Please click (or have your contact click) the link within the next ten minutes. </p>

        <!-- OLD VALIDATION
        <form action="/validate" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="userToken">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Validate</button>
        </form>

        <a href="/validate" class="btn btn-default"><span class="fa fa-user"></span> Send email again (this button doesn't work)</a>
        -->
    </div>

</div>
</body>
</html>
