.vertical-gap {
    margin-top:40px;
}

.form-name-box {
    margin-top:10px;
    padding: 15px;
}

.hide {
    display: none;
}

.scroll-x {
    overflow-x: scroll;
}

.scroll-y {
    overflow-y: scroll;
}

/*.table {*/
/*border-radius: 5px;*/
/*width: 50%;*/
/*margin: 0px auto;*/
/*float: none;*/
/*}*/
.fill-table {
    display: inline-block;
    border: none;
}

.table-container {
    text-align:center;
}