
.table-editable {
    position: relative;

.glyphicon {
    font-size: 20px;
}

}

.table-remove {
    color: #700;
    cursor: crosshair;

&
:hover {
    color: #f00;
}

}

.table-up, .table-down {
    color: #007;
    cursor: pointer;

&
:hover {
    color: #00f;
}

}

.table-add-row {
    cursor: pointer;
    top: 8px;
    right: 0;

&
:hover {
    color: #0b0;
}

}
