// Here you can add other styles
button:focus {
  outline: none
}

.dropdownArrow {
  font-size: 10px;
  color: #c1c1c1;
  float: right;
  position: relative;
}

.dropdownArrow:hover {
  color: #4f4f4f;
}

.sheet-header {
  text-align: center;
  overflow: hidden;
  background: rgb(247, 248, 249);
  color: rgb(87, 90, 95);
  border-right: 1px solid rgb(185, 185, 185);
  border-bottom: 1px solid rgb(185, 185, 185);
  font-size: 13px;
}

.sheet-header:hover {
  background: rgb(184, 226, 196);
}

.sheet-header.highlight {
  background: rgb(200, 200, 200);
}

.not-selectable {
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

.app-body {
  overflow-x: inherit;
}

.sidebar {
  background-color: #fdfdfd;
  font-family: Roboto, sans-serif;
}

.sidebar .nav-link {
  color: #868686;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
}

.sidebar .nav-link:hover {
  color: initial;
  background: #f0f2fd;
}

.sidebar .nav-link.active {
  color: #272727;
  background: #f0f2fd;
}

.sidebar .nav-link.active .nav-icon {
  color: initial;
}

.sidebar .nav-link.active .nav-icon {
  color: #5369fc;
}

.sidebar .nav-link:hover .nav-icon {
  color: #5369fc;
}

.sidebar .nav-title {
  padding: 1rem 2rem;
  font-size: 100%;
  font-weight: 400;
  color: #868686;
  text-transform: uppercase;
  border-top: 1px solid #d6d6d6;
}

.sidebar .nav-dropdown.open {
  background: rgba(0, 0, 0, 0.06);
}

.sidebar .nav-dropdown.open .nav-link {
  color: initial;
  border-left: 0;
}
