<%- include('../common/dashboardHeader', {title: 'Delete Attribute/Catrgories'}); -%>
<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/manage-workbook-templates">Workbook Templates</a>
        </li>
        <li id="currentPageName" class="breadcrumb-item active">Delete Category and Attribute</li>
    </ol>


    <div id="alert-error" class="alert alert-danger alert-dismissible hide" role="alert">
        <h5 id="alert-error-text"></h5>
        <button type="button" class="close" aria-label="Close" onclick="hideErrorAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div id="alert" class="alert alert-success alert-dismissible hide" role="alert">
        <h5 id="alert-text"></h5>
        <button type="button" class="close" aria-label="Close" onclick="hideAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <br>

    <form id="categoryForm" method="delete">

        <label for="category"> Category name: </label>
        <Select class="selectpicker" data-live-search="true" data-style="btn-outline-primary" data-actions-box="true"
                data-header="Select categories" id="CatDropDown">

        </Select>
        <Button type="submit" class="btn btn-outline-primary"> Delete</Button>

    </form>

    <br>

    <form id="attributeForm" method="delete">
        <label for="attribute"> Attribute name: </label>
        <Select class="selectpicker" data-live-search="true" data-style="btn-outline-primary" data-actions-box="true"
                data-header="Select attributes" id="AttDropDown">

        </Select>
        <Button type="submit" class="btn btn-outline-primary"> Delete</Button>

    </form>

</div>

<!--Message Modal-->
<%- include('../common/messageModal'); -%>

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">

<%- include('../common/dashboardFooter', {js: [
'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js',
'/dist/deleteAttCat.js',
]}); -%>
