<%- include('../common/dashboardHeader', {title: 'Manage Workbook template'}); -%>

<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Workbook Templates</a>
        </li>
        <li class="breadcrumb-item active">Manage Templates</li>
    </ol>

    <div id="alert" class="alert alert-success alert-dismissible hide" role="alert">
        <h5 id="alert-text"></h5>
        <button type="button" class="close" aria-label="Close" onclick="hideAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="card">
        <div class="card-body">

            <h4 class="card-title"><span class="far fa-edit"></span> All workbooks</h4>

            <div id="workbooks">

            </div>


        </div>
    </div>
    <%- include('../common/messageModal'); -%>

</div>


<!--Message Modal-->
<%- include('../common/messageModal'); -%>

<link rel="stylesheet"
      href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

<%- include('../common/dashboardFooter', {js: [
'/dist/manageWorkbookTemplates.js',
'https://cdn.jsdelivr.net/npm/handsontable@5.0.2/dist/handsontable.full.min.js',
'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js',
'https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.0/xlsx.full.min.js',
'https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js'

]}); -%>
