<%- include('../common/dashboardHeader', {title: 'System Info'}); -%>
<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">System</a>
        </li>
        <li class="breadcrumb-item active">Configuration</li>
    </ol>





</div>

<%- include('../common/dashboardFooter', {js: ['/moh.js/systemConfig.js']}); -%>