<%- include('../common/dashboardHeader', {title: 'System Info'}); -%>
<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Workbook</a>
        </li>
        <li class="breadcrumb-item active">Query</li>
    </ol>
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="select-workbook">Workbook: </label>
                    <select class="selectpicker col-lg-6" data-live-search="true"
                            data-style="btn-outline-primary" data-actions-box="true"
                            data-header="Select workbook" id="select-workbook">
                        <option value="">Select one</option>
                    </select>
                </div>

                <div class="form-group hide" id="worksheet-wrapper">
                    <label for="select-worksheet">Worksheet: </label>
                    <select class="selectpicker col-lg-6" data-live-search="true"
                            data-style="btn-outline-primary" data-actions-box="true"
                            data-header="Select worksheet" id="select-worksheet">
                        <option value="">Select one</option>
                    </select>
                </div>

                <div class="form-group hide" id="cat-wrapper">
                    <label for="select-cat">Attribute ID: </label>
                    <select class="selectpicker col-lg-6" data-live-search="true"
                            data-style="btn-outline-primary" data-actions-box="true"
                            data-header="Select attribute" id="select-cat">
                        <option value="">Select one</option>
                    </select>
                </div>

                <div class="form-group hide" id="att-wrapper">
                    <label for="select-att">Category ID: </label>
                    <select class="selectpicker col-lg-6" data-live-search="true"
                            data-style="btn-outline-primary" data-actions-box="true"
                            data-header="Select category" id="select-att">
                        <option value="">Select one</option>
                    </select>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="onlyFilledCheck" name="onlyFilled" checked disabled>
                    <label class="form-check-label" for="onlyFilledCheck">Exclude the user who does not fill the workbook</label>
                </div>

                <div id="result"></div>



                <!--<button type="submit" class="btn btn-primary">Query</button>-->
            </form>

            </div>



        </div>
    </div>


</div>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
<%- include('../common/dashboardFooter', {js: [
'/dist/workbook-query.js',
'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js'
]}); -%>
