
<div class="container-fluid row align-items-center taskbar">
    <div class="col-auto p-0" style="display: <%= typeof mode !== "undefined" ? '' : 'none'%>">
        <input class="form-control workbookName has-border" id="workbookNameInput" value="<%=workbook%>" size="15">
    </div>
    <div class="col-auto p-0">
        <button data-toggle="tooltip" data-placement="bottom" title="Redo" type="button" id="undo-btn" class="btn btn-taskbar"><i class="fas fa-undo"></i></button>
    </div>
    <div class="col-auto p-0">
        <button data-toggle="tooltip" data-placement="bottom" title="Undo" type="button" id="redo-btn" class="btn btn-taskbar"><i class="fas fa-redo"></i></button>
    </div>
    <div class="col-auto p-0">
        <select class="custom-select" id="select-zoom">
            <option value="25%">25%</option>
            <option value="50%">50%</option>
            <option value="75%">75%</option>
            <option value="100%" selected>100%</option>
            <option value="125%">125%</option>
            <option value="150%">150%</option>
            <option value="175%">175%</option>
            <option value="200%">200%</option>
        </select>
    </div>


    <div class="col-auto p-0">
        <div class="input-group">
            <button data-toggle="tooltip" data-placement="bottom" title="Import" id="import-workbook-btn" class="btn btn-taskbar"><i class="fas fa-file-import"></i></button>
            <form id="upload-form" enctype="multipart/form-data">
                <input name="excel" id="file-import" type="file" class="hide">
            </form>
        </div>
    </div>
    <div class="col-auto p-0">
        <button data-toggle="tooltip" data-placement="bottom" title="Export" type="button" id="export-workbook-btn" class="btn-save btn btn-taskbar"><i class="fas fa-file-export"></i></button>
    </div>
    <div class="col-auto p-0">
        <button data-toggle="tooltip" data-placement="bottom" title="Save" type="button" id="save-workbook-btn" class="btn-save btn btn-taskbar"><i class="fas fa-save"></i></button>
    </div>
    <div class="col-auto p-0">

    </div>
    <div class="col-auto">
        <div id="status"></div>
    </div>
</div>
<div class="container-fluid row align-items-center taskbar">
    <div class="col-auto p-0">
        <button data-toggle="tooltip" data-placement="bottom" title="Cancel" type="button" id="reset-formula-btn" class="btn btn-taskbar"><i class="fas fa-times"></i></button>
    </div>
    <div class="col-auto p-0">
        <button data-toggle="tooltip" data-placement="bottom" title="Enter" type="button" id="save-formula-btn" class="btn btn-taskbar"><i class="fas fa-check"></i></button>
    </div>
    <div class="col-auto p-0" id="fx">
         fx
    </div>
    <input id="formula-input">

</div>
<div class="tab-content" id="nav-tabContent">
    <div id="loading" class="<%=(typeof mode == "undefined" || mode === 'edit' ? '' : 'hide')%>">
        <br>
        <h4><i class="fas fa-spinner fa-spin"></i> <i id="loadingText"> Loading...</i></h4>
    </div>
</div>

<div id="scroller-wrapper">
    <a class="scroller scroller-left"><i class="fa fa-caret-left"></i></a>
    <a class="scroller scroller-right"><i class="fa fa-caret-right"></i></a>
</div>
<div id="nav-wrapper">
    <div class="nav nav-tabs" id="nav-tab">
    </div>
</div>
