.vertical-gap {
    margin-top: 40px;
}

.form-name-box {
    margin-top: 10px;
    padding: 15px;
}

.hide {
    display: none;
}

.scroll-x {
    overflow-x: scroll;
}

.scroll-y {
    overflow-y: scroll;
}

.fill-table {
    display: inline-block;
    border: none;
}

a.nav-item {
    color: #495057;
    background-color: #f3f3f3;
    box-shadow: 0 0 2px 0 black;
    margin: 1px 2px 1px 1px;
}

a.nav-item.active.show {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

#wrapper #content-wrapper {
    padding-bottom: 0;
}

.btn-outline-secondary-no-hover {
    color: #6c757d;
    background-color: #fff;
    border-color: #6c757d;
    cursor: default !important;
}

#nav-tab {
    flex-wrap: nowrap;
    white-space: pre;
    height: 100%;
    /*hide horizontal scrollbar*/
    margin-bottom: -50px; /* maximum width of scrollbar */
    padding-bottom: 50px; /* maximum width of scrollbar */

    overflow-y: hidden;
    overflow-x: scroll;
}

#nav-wrapper {
    overflow: hidden;
}

.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: .25rem 1rem;
}

.scroller {
    cursor: pointer;
    background-color: #f3f3f3;
    padding: .60rem .25rem;
    float: left;
    display: none;
}

#scroller-wrapper {
    float: left;
    box-shadow: 1px 0px 4px 0px black;
    margin-right: 3px;
}

.handsontable td, .handsontable th {
    white-space: pre;
}

