.vertical-gap {
    margin-top:40px;
}

.form-name-box {
    margin-top:10px;
    padding: 15px;
}

.hide {
    display: none;
}

.scroll-x {
    overflow-x: scroll;
}

.scroll-y {
    overflow-y: scroll;
}

.fill-table {
    display: inline-block;
    border: none;
}

a.nav-item {
    color: #495057;
    background-color: #f3f3f3;
    box-shadow: 0 0 2px 0 black;
    margin: 1px;
}

a.nav-item.active.show {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}