.vertical-gap {
    margin-top:40px;
}

.form-name-box {
    margin-top:10px;
    padding: 15px;
}

.hide {
    display: none;
}

.scroll-x {
    overflow-x: scroll;
}

.scroll-y {
    overflow-y: scroll;
}

.fill-table {
    display: inline-block;
    border: none;
}
